on:
  issue_comment:
    types:
      - created
jobs:
  check-readme:
    uses: "sclorg/ci-actions/.github/workflows/check-readme.yml@main"
  container-tests:
    needs: check-readme
    uses: "sclorg/ci-actions/.github/workflows/container-tests.yml@main"
    with:
      enabled-tests: '["container","container-pytest","openshift-4","openshift-pytest"]'
      versions: '[ "5.26", "5.26-mod_fcgid", "5.30", "5.32", "5.34", "5.36", "5.38", "5.40" ]'
      openshift-versions: '[ "5.26", "5.26-mod_fcgid", "5.30", "5.32", "5.34", "5.36", "5.38", "5.40" ]'
    secrets: inherit
